################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tree2/bin/Release
/Tree2/obj/Release
/TreeTest/bin/Release
/TreeTest/obj/Release
/.vs/TreeTest/v15
